@tailwind base;
@tailwind components;
@tailwind utilities;


.dark-theme {
    background-color: #1a1a2e;
    color: #e94560;
  }
  
  .light-theme {
    background-color: #e1f1dd;
    color: #1b4332;
  }